---
# How long to wait between executions
interval: 30s

# A manager is responsible for a single group of resources (web servers, instances of an application, slaves etc).
# Every manager needs a monitor that provides metrics, a strategy to interpret them, and an inventory to act upon (scale up/down)
managers:

  # Unique name of this manager
  example:
    monitor:
      name: mesos  # Name of the plugin to load
      endpoint: http://mesos.service.consul:5050/state

    inventory:
      name: aws
      region: eu-west-1
      settle_down_period: 3m

    strategy:
      name: threshold
      thresholds:
        mesos.cluster.cpu.percent_used:
          min: 40
          max: 80
        mesos.cluster.mem.percent_used:
          min: 40
          max: 80

# Uncomment for a manager with a fake monitor and inventory
#  test:
#    monitor:
#      name: fake
#    inventory:
#      name: fake
#    strategy:
#      name: threshold
#      thresholds:
#        a.fake.metric:
#          min: 25
#          max: 57

# Logging configuration
logging:
  level: info
  formatter:
    name: text
  fluentd:
    host: 172.17.42.1
    port: 24224
    tag: core.autoscaler
  slack:
    hook_url: https://hooks.slack.com/services/abc123/defghijklmnopqrstuvwxyz
    channel: "#slack-testing"
    emoji: ":robot_face:"
    username: autoscaler